<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.decade.mall.ums.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.decade.mall.ums.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="enable" property="enable"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, enable, gmt_create, gmt_modified
    </sql>
    <select id="listPermissionByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT t5.id    AS id,
               t5.pid   AS pid,
               t5.name  AS name,
               t5.value AS value,
               t5.icon  AS icon,
               t5.type  AS type,
               t5.uri   AS uri
        FROM ums_admin AS t1
                 LEFT JOIN ums_admin_role_relation AS t2
                           ON t1.id = t2.admin_id
                 LEFT JOIN ums_role AS t3
                           ON t2.role_id = t3.id
                 LEFT JOIN ums_role_permission_relation AS t4
                           ON t3.id = t4.role_id
                 LEFT JOIN ums_permission AS t5
                           ON t4.permission_id = t5.id
        WHERE t1.username = #{username};
    </select>
</mapper>
