<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.decade.mall.ums.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.decade.mall.ums.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="password_salt" property="passwordSalt"/>
        <result column="avatar" property="avatar"/>
        <result column="nick_name" property="nickName"/>
        <result column="email" property="email"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="enable" property="enable"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, password_salt, avatar, nick_name, email, last_login_time, enable, gmt_create, gmt_modified
    </sql>

</mapper>
